*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
  
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-top: 30px solid rgb(81, 20, 83); 
  margin: 0;
  box-sizing: border-box;
  display: block;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/89/379/745/flowers-nature-macro-monochrome-wallpaper-0ba63c4df3511fc985243b69dd1c2c80.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.cabecera {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 1.5rem;
  background-color: rgba(161, 111, 161, 0.7); 
  color: #ffffff;
  margin-bottom: 3rem;
}

span  {
    color: red;
}

form {
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem;
  border: 2px solid rgb(112, 32, 108);
  background-color: rgba(77, 1, 77, 0.7); 
  color: #ffffff;
}

#sendFormCommunity {
  background-color: rgb(167, 22, 94);
  color: #ffffff;
  border: #ffffff 2px solid;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

#saveForm {
  border: #ffffff 2px solid;
}

.footer-copyright-form {
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  background-color:rgb(81, 20, 83);
}

p.copyright {
  margin-bottom: 0;
}

.copyright a {
  text-decoration: none;
  color: #ff00ea;
  text-decoration-skip-ink: #ffffff;
  font-weight: bold;
}

/*
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    background: #f2f2f2;
    font-family: "Roboto";
    border-top: 30px solid #303F9F; }
  
  .wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px grey; }
  
  .contenedor-formulario {
    width: 100%;
    color: #f2f2f2;
    padding: 50px; }
    .contenedor-formulario .formulario {
      width: 100%;
      margin: auto; }
      .contenedor-formulario .formulario .input-group {
        position: relative;
        margin-bottom: 32px; }
        .contenedor-formulario .formulario .input-group input[type="text"],
        .contenedor-formulario .formulario .input-group input[type="email"],
        .contenedor-formulario .formulario .input-group input[type="password"] {
          font-family: "Roboto";
          font-size: 16px;
          color: #303F9F;
          width: 100%;
          outline: none;
          padding: 15px;
          background: none;
          border: none;
          border-bottom: 2px solid #BBDEFB; }
          .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
          .contenedor-formulario .formulario .input-group input[type="email"]:focus,
          .contenedor-formulario .formulario .input-group input[type="email"]:active,
          .contenedor-formulario .formulario .input-group input[type="password"]:focus,
          .contenedor-formulario .formulario .input-group input[type="password"]:active {
            outline: none;
            border-bottom: 2px solid #303F9F; }
          .contenedor-formulario .formulario .input-group input[type="text"].error,
          .contenedor-formulario .formulario .input-group input[type="email"].error,
          .contenedor-formulario .formulario .input-group input[type="password"].error {
            border-bottom: 2px solid #D32F2F; }
            .contenedor-formulario .formulario .input-group input[type="text"].error + label,
            .contenedor-formulario .formulario .input-group input[type="email"].error + label,
            .contenedor-formulario .formulario .input-group input[type="password"].error + label {
              color: #D32F2F; }
        .contenedor-formulario .formulario .input-group label {
          color: #303F9F; }
          .contenedor-formulario .formulario .input-group label.label {
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            margin-left: 15px;
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            top: 16px;
            left: 0; }
            .contenedor-formulario .formulario .input-group label.label.active {
              top: -12px;
              font-size: 12px;
              line-height: 12px;
              color: #B6B6B6; }
        .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
          display: inline-block;
          cursor: pointer;
          color: #303F9F;
          position: relative;
          padding: 5px 15px 5px 51px;
          font-size: 1em;
          border-radius: 3px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
            background: #bbdefb; }
          .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 2px solid #303F9F; }
        .contenedor-formulario .formulario .input-group.error label {
          color: #D32F2F; }
          .contenedor-formulario .formulario .input-group.error label:hover {
            background: rgba(211, 47, 47, 0.2); }
          .contenedor-formulario .formulario .input-group.error label:before {
            border: 2px solid #D32F2F; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: #303F9F;
            border-radius: 2px;
            color: #f2f2f2; }
        .contenedor-formulario .formulario .input-group.checkbox label:before {
          border-radius: 3px; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
            background: #303F9F;
            color: #f2f2f2;
            padding: 5px 15px; }
      .contenedor-formulario .formulario input[type="submit"] {
        background: #303F9F;
        border-radius: 1px;
        border: 2px solid #f2f2f2;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto";
        font-size: 16px;
        padding: 15px;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario input[type="submit"]:hover {
          background: #1976D2; }
  
          */