
/* //////////////////// HEADER CARO GARCÍA ////////////////////////// */
.img-responsive {
    width: 50%;
    height: 20%;
    padding-left: 5rem;
}

.icons {
    padding-right: 5rem;
}


.facebook-icon .fab {
    color: #3b5998;
    font-size: 2.2rem;
    margin: 5px;
}

.facebook-icon .fab:hover {
    color: #723e98;
}

.twitter-icon .fab {
    color: #00acee;
    font-size: 2.2rem; 
    margin: 5px;
}

.twitter-icon .fab:hover {
    color: #723e98;
}


/* //////////////////// HEADER CARO GARCÍA ////////////////////////// */


/* //////////////////// FOOTER CARO GARCÍA ////////////////////////// */

#footer .footer-widgets-section {
    background-color: #00a7b8;
}

.footer-widgets-section {
    padding: 45px 0;
}

*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

.footer-section {
    background: #B7B7B7;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}


.widget_nav_menu li.menu-item {
    margin: 0 0 15px 0;
}

.textwidget {
    margin-bottom: 25px;
}

#tpath_social_links_widget-widget-2 li{
    display: inline-block;
}

.facebook .fab {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 5px;
}

.twitter .fab {
    color: #ffffff;
    font-size: 1.5rem; 
    margin: 5px;
}

i.fab {
    padding: 5px;
    border: 1px solid white;
    border-radius: 50px;
  }

.facebook .fab:hover {
    color: #3b5998;
}

.twitter .fab:hover {
    color: #00acee;
}

.widget ul {
    padding: 0px;
    list-style: none;
}

ul, ol {
    margin-bottom: 20px;
}

.footer-widgets ul li a {
    color: #f7f7f7;
    font-weight: normal;
}

a, a.btn-link {
    color: #723e98;
}

.footer-widgets ul li:hover a, .footer-section a:hover {
    color: #723e98;
    text-decoration: none;
}

#footer .footer-copyright-section {
    background-color: #6d6e71;
}

.copy {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #c9c9c9c9;
    font-weight: normal;
    margin: 0;
}

.copy a {
    font-weight: bold;
    color: #723e98;
}

.copy a:hover {
    color: #c9c9c9c9;
}

.footer-copyright-section {
    border-top: 0px solid #6d6e71;
    padding: 20px 0;
    text-align: center;
}


/* //////////////////// FOOTER CARO GARCÍA ////////////////////////// */

body {
    background-color: rebeccapurple;
}.body_first {
    background-color: white;
}
.title_container {
    background-color: rebeccapurple;
    margin: 2rem 10rem;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 0;
} 
.sub_title {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 1rem 1rem 1rem 5rem;
}
.text_p {
    text-align: justify;
    color: black;
    font-size: 20px;
    padding: 1rem 1rem 1rem 5rem;
} 
.title_services {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 6rem 0 3rem 0;
}
.col img {
    border-radius: 10px;
}
.title {
    text-align: center;
    color: white;
    font-size: 25px;
}
.text {
    text-align: justify;
    color: white;
    font-size: 20px;
}
.topics {
    display: block;
}
.body_first {
    background-color: white;
}
.title_topics {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
}
.text_topics {
    font-size: 20px;
    padding: 20px;
}
.col {
    padding: 4rem;
}
.cols_container {
    background-color: rebeccapurple;
}
.short_dates {
    padding: 10px;
}
.card {
    border-radius: 20px;
    width: 118;

}
