body {
    display: block;
}
@media (min-width: 992px) {
.title_container {
    background-color: rebeccapurple;
    margin: 2rem 40%;
    padding: 0.5rem;
    border-radius: 10px;
} 
.sub_title {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 1rem 1rem 1rem 5rem;
}
.text_p {
    text-align: justify;
    color: black;
    font-size: 20px;
    padding: 1rem 1rem 1rem 5rem;
} 
.title_services {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 6rem 0 3rem 0;
}
.col img {
    border-radius: 10px;
}
.title {
    text-align: center;
    color: white;
    font-size: 25px;
}
.text {
    text-align: justify;
    color: white;
    font-size: 20px;
}
.topics {
    display: block;
}
.title_topics {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
}
.text_topics {
    font-size: 20px;
    padding: 20px;
}
.col {
    padding: 4rem;
}
.cols_container {
    background-color: rebeccapurple;
}
.short_dates {
    padding: 10px;
}
.card {
    border-radius: 20px;
    height: 100;

}
}
.title_container {
    background-color: rebeccapurple;
    margin: 2rem 10%;
    padding: 0.5rem;
    border-radius: 10px;
} 
.sub_title {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 1rem 1rem 1rem 5rem;
}
.text_p {
    text-align: justify;
    color: black;
    font-size: 20px;
    padding: 1rem 1rem 1rem 5rem;
} 
.title_services {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 6rem 0 3rem 0;
}
.col img {
    border-radius: 10px;
}
.title {
    text-align: center;
    color: white;
    font-size: 25px;
}
.text {
    text-align: justify;
    color: white;
    font-size: 20px;
}
.topics {
    display: block;
}
.title_topics {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
}
.text_topics {
    font-size: 20px;
    padding: 20px;
}
.col {
    padding: 4rem;
}
.cols_container {
    background-color: rebeccapurple;
}
.short_dates {
    padding: 10px;
}
.card {
    border-radius: 20px;
    height: 100;
}